{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}
<f:layout name="Content" />
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

		 <f:section name="Configuration">
				 <flux:form id="accordion"
						options="{group:'TWBS', icon:'../typo3conf/ext/fluidcontent_twbs/Resources/Public/Icons/Accordion.gif'}"
						 label="Accordion" description="">

						 <flux:field.checkbox name="collapsed" label="Todas las pestañas colapsadas al inicio" />
						 <flux:form.section name="panels" label="Accordion">
								 <flux:form.object name="panel" label="Panel">
										 <flux:field.input name="title"  label="Título" />
								 </flux:form.object>
						 </flux:form.section>
						 <flux:grid>
								 <f:for each="{panels}" as="panel" iteration="iteration">
									 <flux:grid.row>
										 <flux:grid.column name="content.{iteration.index}" label="{f:if(condition: panel.panel.title, then: panel.panel.title, else: 'Content, panel {iteration.cycle}')}" />
									 </flux:grid.row>
								 </f:for>
						 </flux:grid>

				 </flux:form>
		 </f:section>

<f:section name="Preview">
		<flux:widget.grid />
</f:section>

<f:section name="Main">

		<div class="panel-group" id="accordion-{record.uid}">
				<f:for each="{panels}" as="panel" iteration="iteration">
  					<div class="panel panel-default">
    						<div class="panel-heading">
      							<h4 class="panel-title">
        								<a data-toggle="collapse" data-parent="#accordion-{record.uid}" href="#accordion-{record.uid}-{iteration.index}">
														{panel.panel.title}
        								</a>
      							</h4>
    						</div>
    						<f:if condition="{collapsed}">
    								<f:then>
    										<div id="accordion-{record.uid}-{iteration.index}" class="panel-collapse collapse">
      											<div class="panel-body">
                    						<flux:content.render area="content.{iteration.index}" />
      											</div>
    										</div>
    								</f:then>
    								<f:else>
    										<div id="accordion-{record.uid}-{iteration.index}" class="panel-collapse collapse {f:if(condition:iteration.isFirst, then:'in')}">
      											<div class="panel-body">
                    						<flux:content.render area="content.{iteration.index}" />
      											</div>
    										</div>
    								</f:else>
    						</f:if>
  					</div>
        </f:for>
		</div>

</f:section>
