{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}
<f:layout name="Content" />
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

		 <f:section name="Configuration">
				 <flux:form id="button" 
						options="{group:'TWBS', icon:'../typo3conf/ext/fluidcontent_twbs/Resources/Public/Icons/Button.gif'}"
						 label="Button" description="">

						 <flux:field.input name="target" label="Enlace">
								 <flux:wizard.link />
						 </flux:field.input>
						 <flux:field.input name="text" label="Texto" />
						 <flux:field.select name="class" items="default,btn-primary,btn-success,btn-info,btn-warning,btn-danger,btn-link" size="1" maxItems="1" label="Tipo" />
						 <flux:field.select name="size" items="default,btn-lg,btn-sm,btn-xs" size="1" maxItems="1" label="Tamaño" />

				 </flux:form>
		 </f:section>

<f:section name="Preview">
		{text}	
</f:section>

<f:section name="Main">
		<f:link.page class="btn {f:if(condition:'{class} == \'default\'', then:'btn-default', else:class)} {f:if(condition:'{size} == \'default\'', then:'', else:size)}" pageUid="{target}">
				{text}
		</f:link.page>
</f:section>
